# Environment

absl-py==2.1.0
access==1.1.9
affine==2.4.0
aiobotocore==2.5.4
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aioitertools==0.12.0
aiosignal==1.3.1
aiostream==0.6.4
alabaster==0.7.16
anndata==0.10.9
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.7.0
appnope==0.1.4
arboreto==0.1.6
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.9.1
arrow==1.3.0
asciitree==0.3.3
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bionumpy==1.0.12
biopython==1.84
bleach==6.2.0
blinker==1.9.0
bokeh==3.4.3
boltons==24.1.0
botocore==1.31.17
cellphonedb==5.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
colorcet==3.1.0
comm==0.2.2
commot==0.0.3
contourpy==1.3.0
coverage==7.6.9
cryptography==44.0.0
ctxcore==0.2.0
cycler==0.12.1
Cython==3.0.11
cytoolz==1.0.0
dask==2024.8.0
dask-expr==1.1.10
dask-image==2024.5.3
datashader==0.16.3
debugpy==1.8.9
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.9
distributed==2024.8.0
Django==4.2.17
dnspython==2.7.0
docarray==0.40.0
docker==7.1.0
docrep==0.3.2
docutils==0.21.2
dotmap==1.3.30
esda==2.5.1
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.6
fasteners==0.19
fastjsonschema==2.21.1
fbpca==1.0
filelock==3.16.1
fiona==1.10.1
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.55.2
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2023.6.0
gast==0.6.0
generative==0.0.0
gensim==4.3.3
geopandas==1.0.1
geosketch==1.3
get-annotations==0.1.2
giddy==2.3.5
google-pasta==0.2.0
grpcio==1.68.1
grpcio-health-checking==1.48.2
grpcio-reflection==1.48.2
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
igraph==0.11.8
imageio==2.36.1
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
inequality==1.0.0
inflect==7.4.0
iniconfig==2.0.0
interlap==0.2.7
ipykernel==6.29.5
ipython==8.18.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
karateclub==1.2.2
keras==3.7.0
kiwisolver==1.4.7
ktplotspy==0.2.4
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
Levenshtein==0.26.1
libclang==18.1.1
libpysal==4.8.1
llvmlite==0.43.0
locket==1.0.0
loompy==3.0.7
lz4==3.1.1
manifold3d==2.3.0
mapbox_earcut==1.0.2
mapclassify==2.8.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
mdurl==0.1.2
mgwr==2.2.1
mistune==3.0.2
mizani==0.9.3
ml-dtypes==0.4.1
momepy==0.6.0
monai==1.4.0
monai-generative==0.2.3
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
multiprocessing_on_dill==3.5.0a4
multiscale_spatial_image==1.0.1
mypy-extensions==1.0.0
NaiveDE==1.2.0
namex==0.0.8
natsort==8.4.0
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networks==0.3.7
networkx==3.2.1
notebook_shim==0.2.4
npstructures==0.2.19
numba==0.60.0
numcodecs==0.12.1
numexpr==2.10.2
numpy==1.26.4
numpy-groupies==0.11.2
ome-zarr==0.9.0
omnipath==1.0.8
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.12
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
param==2.1.1
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==1.0.1
pegen==0.3.0
pexpect==4.9.0
pillow==11.0.0
PIMS==0.7
pip==24.3.1
platformdirs==4.3.6
plotly==5.24.1
plotnine==0.12.4
pluggy==1.5.0
pointpats==2.4.0
pooch==1.8.2
POT==0.9.5
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.0
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
pyarrow==18.1.0
pyarrow-hotfix==0.6
pycparser==2.22
pyct==0.5.0
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.6.1
pyglet==1.5.29
Pygments==2.18.0
PyGSP==0.5.1
pymongo==4.10.1
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.6.1
pysal==24.1
pyscenic==0.12.1
pytest==8.3.4
pytest-cov==6.0.0
python-circos==0.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-fcl==0.7.0.6
python-igraph==0.11.8
python-json-logger==2.0.7
python-Levenshtein==0.26.1
python-louvain==0.16
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
quantecon==0.7.2
RapidFuzz==3.10.1
rasterio==1.4.3
rasterstats==0.20.0
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
Rtree==1.3.0
rv-ltl==0.1.0
s3fs==2023.6.0
scanpy==1.10.3
scenic==3.0.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
segregation==2.5.1
Send2Trash==1.8.3
session_info==1.0.0
setuptools==75.6.0
shapely==2.0.6
simplejson==3.19.3
six==1.17.0
slicerator==1.1.0
smart-open==7.0.5
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
spaghetti==1.7.4
spatial_image==1.1.0
spatialdata==0.2.5.post0
SpatialDE==1.1.3
spglm==1.1.0
Sphinx==7.4.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spint==1.0.7
splot==1.1.7
spopt==0.5.0
spreg==1.8.1
spvcm==0.3.0
sqlparse==0.5.2
squidpy==1.6.1
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
stdlib-list==0.11.0
sympy==1.13.1
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tinycss2==1.4.0
tobler==0.12.0
tomli==2.2.1
toolz==1.0.0
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trimesh==4.5.3
typeguard==4.4.1
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.2
umap-learn==0.5.7
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
validators==0.34.0
watchfiles==1.0.3
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
xarray==2024.7.0
xarray-dataclasses==1.8.0
xarray-datatree==0.0.15
xarray-schema==0.0.3
xarray-spatial==0.4.0
xyzservices==2024.9.0
yarl==1.18.3
zarr==2.18.2
zict==3.0.0
zipp==3.21.0
